.navbar {
	background-color: rgb(28, 125, 28);
	display: flex;
	flex: 0 1 20%;
	padding: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	gap: 20px;
	color: #dbd5d5;
}

.item {
	display: flex;
}
