[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}
/* -------------------------------------------------- */

.app-wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: #dbd5d5;
}



.page {
	flex-grow: 1;
	background-color: #dbd5d5;
}

.page__block {
	display: flex;
	gap: 15px;
}



